#include('./partial/header.html',{home_page:1})
<div class="main-content index-page clearfix">

    <section id="cd-timeline" class="cd-container">
        #for(event : events.getRows())
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="${event.getIcon()}">
            </div><!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2><a href="${event.getUrl()}">${event.getTitle()}</a></h2>
                <p>${event.getDescription()}</p>
                <img src="${event.getImg()}">
                <span class="cd-date">${event.getFormattedDateTime()}</span>
            </div>
        </div>
        #end
    </section>

    <script>
        $(function(){
            var $timeline_block = $('.cd-timeline-block');
            //hide timeline blocks which are outside the viewport
            $timeline_block.each(function(){
                if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
                    $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                }
            });
            var $top =  $(this);
            var page = 2;
            //on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function(){
                $timeline_block.each(function(){
                    if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
                        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                    }
                });

                var $this =$(this),
                    viewH =$(this).height(),//可见高度
                    contentH = $(document).height(),//内容高度
                    scrollTop =$(this).scrollTop();//滚动高度
                if(contentH == viewH + scrollTop) { //当滚动到底部时，
                    $.ajax({
                        url: "/timeline/" + page + "/10",
                        success: function(data){
                            if (data.length > 0) {
                                page = page + 1;
                                for(var item in data) {

                                    $top.find('.cd-container').append(
                                        '       <div class="cd-timeline-block">\n' +
                                        '            <div class="cd-timeline-img cd-picture">\n' +
                                        '                <img src="' + data[item].icon + '">\n' +
                                        '            </div><!-- cd-timeline-img -->\n' +
                                        '\n' +
                                        '            <div class="cd-timeline-content">\n' +
                                        '                <h2><a href="' + data[item].url + '">' + data[item].title + '</a></h2>\n' +
                                        '                <p>' + data[item].description + '</p>\n' +
                                        '                <img src="' + data[item].img + '">\n' +
                                        '                <span class="cd-date">' + data[item].formattedDateTime + '</span>\n' +
                                        '            </div> \n' +
                                        '        </div> ')
                                }
                            }
                        },
                        error: function(data){
                            console.log(data);
                        }
                    });


                }
            });


        });
    </script>

</div>
#include('./partial/footer.html')